.navbar {
  display: flex;
  align-items: center;
  /* position: fixed; */
  /* margin: auto; */
  left:0;
  width: 100%;
  padding-top: topx;
  justify-content: flex-end;
  /* height:calc(100vh - 50px); */
  /* overflow: scroll; */
  /* z-index: 9999; */
}

.navbar-items {
  position: absolute;
  display: flex;
  font-weight: bold;
  float: right;
  /* z-index: 1; */
  flex-direction: column;
  top:50px;
  padding-right:2%;
}